{% extends "logged.html" %}

{% block spec_heads_js %}

<script type="text/javascript">

    $(document).ready(function() {
        $('.favorite_chanel_visible[value!=0]').change(function() {
            $('.favorite_chanel_visible[value=0]').prop('checked', false);            
        })
    });

    function validate_form(){
        // Concatenate origins in one field
        var origin = [];
        $('.origin_visible').each(function(item){
            if (this.checked) {
                origin.push(this.value);
            }
        })
        $('#origin').val(origin.join(','));
        // Concatenate favorite_chanels in one field
        var favorite_chanel = [];
        $('.favorite_chanel_visible').each(function(item){
            if (this.checked) {
                favorite_chanel.push(this.value);
            }
        })
        $('#favorite_chanel').val(favorite_chanel.join(','));
        // TODO: Enrichir conf_text avec les infos du form
        var conf_text = 'Enregistrer l\'élève ?';
        var conf = confirm(conf_text);
        return conf;
    };

    function display_card_price(value){
        if (value == 0) {
            $('#card_price').hide();
            return true;
        }
        console.log('value', value, typeof(value));
        switch (parseInt(value)){
            case 1:
                var amount = '130';
                break;
            case 2:
                var amount = '220';
                break;
            case 3:
                var amount = '330';
                break;
            case 4:
                var amount = '15';
                break;
            default:
                var amount = '0';
                break;
        }
        var card_hint = 'La carte coûte ' + amount + ' €.'
        $('#card_price').text(card_hint);
        $('#card_price').show();
    };

</script>

{% endblock %}

{% block page %}

<form action="/add_student" method="POST" onsubmit="return validate_form()" id="add_student_form" >
    <div class="col-md-6">
        <h2>Informations personnelles</h2>
        <div class="row">
            <div class="col-md-5">
                <label for="profile_pic">Photo: </label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="file" name="profile_pic" id="profile_pic" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="title" class="radio inline">Civilité: </label>
            </div>
            <div class="col-md-6">
                <div class="radio inline">
                    <label class="radio-inline"><input name="title" id="title" type="radio" value="1" />Mr</label>
                    <label class="radio-inline"><input name="title" id="title" type="radio" value="2" />Mme</label>
                    <label class="radio-inline"><input name="title" id="title" type="radio" value="3" />Mlle</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="lastname">Nom: </label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" name="lastname" id="lastname" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="firstname">Prénom: </label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" name="firstname" id="firstname" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="inline" for="birthdate">Date de naissance</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="date" name="birthdate" id="birthdate" />
            </div>
        </div>
        <h2>Coordonnées</h2>
        <div class="row">
            <div class="col-md-5">
                <label for="email">Adresse email: </label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="email" name="email" id="email" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="mobile">Numéro de téléphone: </label>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" name="mobile" id="mobile" />
            </div>
        </div>
        <h2>Carte choisie</h2>
        <div class="row">
            <div class="col-md-5">
                <label for="card_type">Type de carte</label>
            </div>
            <div class="col-md-6">
                <select name="card_type" id="card_type" onchange="display_card_price(this.value)">
                    <option value="0"></option>
                    <option value="1">Cours par 10</option>
                    <option value="2">Cours par 20</option>
                    <option value="3">Cours par 30</option>
                    <option value="4">Cours à l'unité</option>
                    <option value="5">Cours d'essai</option>
                </select><br />
                <span id="card_price"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="paiment_method">Méthode de paiement</label>
            </div>
            <div class="col-md-6">
                <select name="paiment_method" id="paiment_method" >
                    <option value="0"></option>
                    <option value="1">Espèces</option>
                    <option value="2">Chèque (total)</option>
                    <option value="3">Chèque (plusieurs fois)</option>
                </select><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="amount">Montant: </label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="amount" id="amount" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="radio inline" for="medical_certificate">Certificat médical</label>
            </div>
            <div class="col-md-6">
                <div class="radio">
                    <label class="radio-inline"><input name="medical_certificate" id="medical_certificate" type="radio" value="1" />Oui</label>
                    <label class="radio-inline"><input name="medical_certificate" id="medical_certificate" type="radio" value="0" />Non</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="radio inline" for="inscription_paid">A payé les 15€ d'inscription</label>
            </div>
            <div class="col-md-6">
                <div class="radio">
                    <label class="radio-inline"><input name="inscription_paid" id="inscription_paid" type="radio" value="1" />Oui</label>
                    <label class="radio-inline"><input name="inscription_paid" id="inscription_paid" type="radio" value="0" />Non</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Autres informations</h2>
        <div class="row">
            <div class="col-md-5">
                <label class="checkbox inline" for="origin_visible">Origines: </label>
            </div>
            <div class="col-md-6 checkbox">
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="1" />Site internet</label><br />
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="2" />Studios (Harmonic, recorps etc)</label><br />
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="3" />Flyers</label><br />
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="4" />Facebook</label><br />
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="5" onchange="$('#origin_other_social').toggleClass('hidden')" />Autre réseau social</label><br />
                    <input type="text" name="origin_other_social" id="origin_other_social" class="form-control hidden" />
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="6" onchange="$('#origin_hearsay').toggleClass('hidden')" />Bouche à oreille</label><br />
                    <input type="text" name="origin_hearsay" id="origin_hearsay" class="form-control hidden" />
                <label><input type="checkbox" name="origin_visible" class="origin_visible" value="7" onchange="$('#origin_other').toggleClass('hidden')" />Autre</label>
                    <input type="text" name="origin_other" id="origin_other" class="form-control hidden" />
                <input type="hidden" name="origin" id="origin" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label class="checkbox inline" for="favorite_chanel">Canal de communication préféré: </label>
            </div>
            <div class="col-md-6 checkbox">
                <div class="row">
                    <div class="col-md-6">
                        <label><input type="checkbox" name="favorite_chanel_visible" class="favorite_chanel_visible" value="1" />Email</label><br />
                        <label><input type="checkbox" name="favorite_chanel_visible" class="favorite_chanel_visible" value="2" />Mobile</label><br />
                        <label><input type="checkbox" name="favorite_chanel_visible" class="favorite_chanel_visible" value="3" />Facebook</label>
                    </div>
                    <div class="col-md-5">
                        <label><input type="checkbox" name="favorite_chanel_visible" class="favorite_chanel_visible" value="0" onchange="
                        if (this.checked) {
                            $('.favorite_chanel_visible[value!=0]').prop('checked', false);
                        }
                        " />Aucun</label>
                    </div>
                    <input type="hidden" name="favorite_chanel" id="favorite_chanel" />
                </div>
            </div>
        </div>
    </div>
    <!-- validation -->
    <div class="col-md-10">
        <input type="submit" value="Valider" />
    </div>
</form>

{% endblock %}
