{% extends "main.html" %}

{% block content %}

<nav class="navbar navbar-static-top navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="{% if current_page == 'home' %}active{% endif %}"><a href="/home">Home</a></li>
            <li class="{% if current_page == 'inscription' %}active{% endif %}"><a href="/inscription">Inscription</a></li>
            <li class="{% if current_page == 'cartes' %}active{% endif %}"><a href="/cartes">Cartes</a></li>
            <li class="{% if current_page == 'presence' %}active{% endif %}"><a href="/presence">Présences</a></li>
            <li class="{% if current_page == 'invoice' %}active{% endif %}"><a href="/invoice">Factures</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Bienvenue {{session.name}}</a></li>
        </ul>
        {% if current_page %}
        {% if current_page in ('presence, cartes') %}
        <form class="navbar-form navbar-right" role="search" method="POST" action="/search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Prénom" id="firstname" name="firstname" />
                <input type="text" class="form-control" placeholder="Nom" id="lastname" name="lastname" />
            </div>
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</nav>


<div class="container">
{% block page %}{% endblock %}
</div>

{% endblock %}
