{% extends "logged.html" %}

{% block spec_heads_js %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/lang/fr.js"></script>

    <script type="text/javascript">
        // init calendar
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prevYear,prev,today,next,nextYear',
                    center: 'title',
                    right: ''
                },
                lang: 'fr',
                eventColor: '#cccccc',
                eventTextColor: '#333333',
                timeFormat: 'H:mm',
                eventSources: [
                    'list_lessons',
                ]
            });
            $('.fc-toolbar .fc-right').prepend('<a href="/chose_lesson" class="fc-button fc-state-default btn" role="button">Modifier des cours</a>');
            $('.fc-toolbar .fc-right').prepend('<a href="/add_lesson" class="fc-button fc-state-default btn" role="button">Ajouter un cours</a>');
        });
    </script>

{% endblock %}

{% block spec_heads_css %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css" type="text/css" media="screen, print" />

{% endblock %}

{% block page %}



<div class="container">
    <div class="col-md-11">
        <div id="calendar"></div>
    </div>
</div>

{% endblock %}
