{% extends "logged.html" %}

{% block spec_heads_js %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/lang/fr.js"></script>

    <script type="text/javascript">
        // init calendar
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today'
                },
                lang: 'fr',
                events: [
                    {
                        id: 1,
                        title: "Test",
                        start: '2015-08-15',
                        allDay: true
                    }
                ]
            })
        });
    </script>

{% endblock %}

{% block spec_heads_css %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css" type="text/css" media="screen, print" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}" type="text/css" media="screen, print" />

{% endblock %}

{% block page %}

that's my "presences" page<br />

<div class="container">
    <div class="col-md-11">
        <div id="calendar"></div>
    </div>
</div>

{% endblock %}
