{% extends "logged.html" %}
{% block page %}

that's my trombi page
<div class="container">
    <ul>
        {% for student in user_list %}
        <li>
            <div>
                <img src="{{student.profile_pic}}" hint="{{student.firstname}} {{student.lastname}}" style="max-width:340px; max-height:340px;" /><br />
                <span>Prénom : {{student.firstname}}</span>
                <span>Nom : {{student.lastname}}</span>
                <span>Téléphone : {{student.mobile}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
